# IntellijIdea files
**/.idea

# Кэши сасс файлов и пайчарма
**/.sass-cache
**/__pycache__

# Виртуальное окружение проекта
**/env
**/venv

# Миграции
**/migrations

# Генерируемые PyTest данные
**/.coverage
