# IntellijIdea files
**/.idea

# Генерируемые PyTest данные
**/.coverage

# Celery
**/celerybeat-schedule.bak
**/celerybeat-schedule.dat
**/celerybeat-schedule.dir

# Собранные с помощью collect_static статические файлы
**/staticfiles/

**/mediafiles/

# Переменные окружения, секреты
**/local_settings
**/local_settings.py
#**/.env
#**/.env.dev
#**/.env.def.db
#**/.env.prod
#**/.env.prod.db

# Нод модули во всех каталогах
**/node_modules

# Компоненты Bower
**/bower_components/

# Дополнительно:
**/dist
**.DS_Store
**/*.pyc
**/.vs/
**/.vscode

# Кэши сасс файлов и пайчарма
**/.sass-cache
**/__pycache__

# Базы данных
**/db.sqlite3
#**/*.db

# Миграции
**/migrations

# Логи от Silenium
**/geckodriver.log

# Локальные файлы, использовались для секретов, но теперь они вне проекта
**/local__*

# Виртуальное окружение проекта
**/env
**/venv
**/virtualenv
**/environment
**/virtual_environment
**/venv_3_8
**/venv38
**/venv_3_9
**/venv39
