@import "variables"

// Стилизация проектов

.project-page
  & a
    text-decoration: none
    color: $project-page-a-color
    font-weight: bold
    &:hover
      color: $project-page-a-color-hover
  .project-data
    font-weight: bold
    color: $project-data-color
  .comment
    font-size: 1.2em
    color: $comment-color
  .comment-info
    font-size: 0.9em
    .comment-user
      font-size: 1.3em
      padding-right: 0.5em
    .comment-datetime
      color: #5a626c
      font-weight: bold
      padding-right: 0.5em
