@import "../../assets/variables"
@import "variables"

// Стилизация футера

.footer
  //flex: 0 0 auto
  text-align: center
  background: #061f26
  width: $width-site
  //margin-bottom: $footer-margin-bottom
  margin: 0 auto

  position: fixed
  bottom: 0
  justify-content: center
  padding-bottom: 10px


//.footer-modal
//  position: fixed
//  display: flex
//  align-items: center
//  justify-content: center
//  top: 0
//  left: 0
//  width: calc(100vw - 16px)
//  height: 100vh
//  // Включить возможность клика по фону
//  pointer-events: none

.App-logo
  position: absolute
  height: 400px
  pointer-events: none
  width: 550px
  display: inline-block
  justify-content: center
  text-align: center
  z-index: 1000
  opacity: 0.6
  bottom: 50px
  margin: 0 auto
  left: 303px

@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation: App-logo-spin infinite 20s linear

@keyframes App-logo-spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

.App-link
  color: #61dafb
  z-index: 1001
  text-decoration: none

