.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.header {
    width: 80%;
    position: fixed;
    z-index: 1000;
    background: #ddffdd;
    padding-top: 10px;
    height: 32px;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu-link{
    text-decoration: none;
    color: salmon;
    border: 2px salmon solid;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.menu-link:hover {
    color: crimson;
    background: gainsboro;
}

.menu-login {
    border: 2px salmon dashed;
}

.menu-logout {
    border: 2px #f5351f dashed;
}
